
<section>

  <mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" text-size="28 px" placeholder="ค้นหาพนักงาน">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="codenum">
      <th mat-header-cell *matHeaderCellDef> รหัส</th>
      <td mat-cell *matCellDef="let element"> {{element.codenum}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> ชื่อ</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="depart">
      <th mat-header-cell *matHeaderCellDef> แผนก</th>
      <td mat-cell *matCellDef="let element"> {{element.depart}} e</td>
    </ng-container>


    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> เบอร์โทร</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>





<section>
  <br><br>
  <button class="accordion"> เปลี่ยนแผนก</button>
  <div class="panel">
    <form>
  <mat-form-field >
    รหัสพนักงาน<input matInput [(ngModel)]="person_id" type="number" [ngModelOptions]="{standalone: true}">
  </mat-form-field><br>

      <mat-form-field>
        <mat-select placeholder="แผนกใหม่"   [(ngModel)]="deployid" type="number" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let  Department of departments"  [value]="Department.department_id"  >
            {{Department.department_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>



  <mat-form-field >
    ผู้ยืนยัน<input matInput >
  </mat-form-field><br><br>
  <button mat-stroked-button color="primary" class="adds"   (click)= "changedeploy()">บันทึก</button><br><br>
</form>
  </div>

</section>
