
<section><br>
  <button class="accordion"> เพิ่มพนักงาน</button>
  <div class="panel">
    <form >

      <mat-form-field  >
        ชื่อ - นามสกุล : <input matInput [(ngModel)]="person_name" type="text" [ngModelOptions]="{standalone: true}">
      </mat-form-field><br>

      <mat-form-field class="AddressInput">
        ที่อยู ่: <input matInput [(ngModel)]="person_address" type="text" [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>

      <mat-form-field  >
        วันเกิด : <input matInput [(ngModel)]="person_birthday" type="text" [ngModelOptions]="{standalone: true}"  >
      </mat-form-field><br>

      <mat-form-field>
        โทรศัพท์มือถือ  : <input matInput [(ngModel)]="person_phone" type="text"  [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>
      <mat-form-field>

        E-mail : <input matInput [(ngModel)]="person_email" type="text" [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>
      <mat-form-field>

        เลขที่ประกันสังคม : <input matInput [(ngModel)]="person_ssid" type="text" [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>
      <mat-form-field >
        ผู้ยืนยัน<input matInput>
      </mat-form-field><br><br>
      <button   mat-stroked-button  color="primary" class="save"  (click)= "Addp()">บันทึก</button><br><br>
    </form>






<br>

  </div>
  <br>
  <button class="accordion"> แก้ไขข้อมูล</button>
  <div class="panel">
    <form>
      <br>
      <input matInput  placeholder="รหัสพนักงาน"  [(ngModel)]="person_id" type="text" [ngModelOptions]="{standalone: true}">
      <mat-form-field  >
        <br>
        ชื่อ - นามสกุล : <input matInput matInput [(ngModel)]="person_name" type="text" [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>

      <mat-form-field class="AddressInput">
        ที่อยู ่: <input matInput [(ngModel)]="person_address" type="text" [ngModelOptions]="{standalone: true}">
      </mat-form-field><br>

      <mat-form-field  >
        วันเกิด : <input matInput [(ngModel)]="person_birthday" type="text" [ngModelOptions]="{standalone: true}">
      </mat-form-field><br>

      <mat-form-field>
        โทรศัพท์มืถือ : <input matInput [(ngModel)]="person_phone" type="text"  [ngModelOptions]="{standalone: true}">
      </mat-form-field><br>
      <mat-form-field>

        E-mail : <input matInput [(ngModel)]="person_email" type="text" [ngModelOptions]="{standalone: true}" >
      </mat-form-field><br>
      <mat-form-field>

        เลขที่ประกันสังคม : <input matInput matInput [(ngModel)]="person_ssid" type="text" [ngModelOptions]="{standalone: true}">
      </mat-form-field><br>
      <mat-form-field >
        ผู้ยืนยัน<input matInput>
      </mat-form-field><br><br>
      <button mat-stroked-button color="primary" class="save"  (click)= "Update()" >ยืนยัน</button><br><br>
    </form>
  </div>





<!--
<br>
  <button class="accordion"> ลดพนักงาน</button>
  <div class="panel">
    <form>
      <br>
      <input matInput  placeholder="รหัสพนักงาน"  matInput [(ngModel)]="person_id" type="long" [ngModelOptions]="{standalone: true}" >

      <mat-form-field class="AddressInput">
        สาเหตุ: <input matInput>
      </mat-form-field><br>


     <br>
      <mat-form-field >
        ผู้ยืนยัน<input matInput>
      </mat-form-field><br><br>
      <button mat-stroked-button   (click)= "Delp()" color="primary" class="save" >ยืนยัน</button><br><br>
    </form>
  </div>
-->
</section>
